{{ template "header" .}}
{{ template "left-content" . }}
<div class="right-content">
	<div class="about-content">
		<div class="row">
			<div class="twelve columns">
				<div class="headshot-outer"><img class="headshot" src="/images/headshot.jpg"/></div>
				<h1 class="align-left">Hi I'm Will.</h1>
				<h1 class="align-left">I'm a software developer based in San Francisco, CA.</h1>
				<h1 class="align-left">I also occasionally take pictures.</h1>
			</div>
		</div>
	</div>
</div>
{{ template "footer" .}}