:root {
	--text-white: #fff;
	--text-light-grey: #BCBCBC;
	--text-dark-grey: #3C3C3C;
	--text-color: #000;

	--font-size-large: 32px;
	--font-size: 14px;
	--font-size-small: 10px;

	--default-margin: 20px;
	--default-margin-small: 10px;
	--default-padding: 20px;
	--default-padding-small: 10px;

	--thumbnail-size: 192px;
	--thumbnail-border-color: #fff;
	--thumbnail-border-color-active: #000;
}

html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "Avenir Next", sans-serif;
	padding-left: var(--default-padding);
	padding-right: var(--default-padding);
	color: var(--text-color);
}

a {
	color: inherit;
}
a:hover {
	color: inherit;
}

li {
	margin: 0;
	padding: 0;
}

input[type="submit"].button-primary {
	background-color: var(--text-color);
	color: var(--text-dark-grey);
	border-color: var(--text-dark-grey);
}
input[type="text"] {
	border-color: var(--text-light-grey);
}
input[type="text"]:focus {
	border-color: var(--text-dark-grey);
}
input[type="submit"].button-primary:hover {
	background-color:  var(--text-dark-grey);
	color: var(--text-color);
	border-color: var(--text-dark-grey);
}
ol > li:before {
	font-weight: bold;
}

.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

.hidden {
	display: none;
}
.shown {
	display: inherit !important;
}


/* end general styles */

.hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: var(--default-margin);
	margin-bottom: var(--default-margin);
}
.hero-author {
	display: inline-block;
	margin-right: var(--default-margin-small);
}
.hero-nav {
	display: inline-block;
}
.hero-author a {
	font-size: var(--font-size-large);
	line-height: var(--font-size-large);
	text-decoration: none;
	font-weight: bold;
}
.hero-nav {
	color: var(--text-dark-grey);
}
.hero-social {
	font-size: 0;
	list-style: none;
	margin: 0;
}
.hero-social li {
	display: inline-block;
	margin: 7px;
	vertical-align: top;
}
.hero-social a, .hero-social svg {
	display: block;
}
.hero-social a {
	height: 18px;
	width: 18px;
}
.hero-social svg {
	height: 100%;
	width: 100%;
}
.hero-social .icon {
	border-radius: 100%;
	color: var(--text-light-grey);
	fill: var(--text-light-grey);
	transform: scale(1.0);
	transition: fill 0.5s, color 0.5s, transform 0.5s;
}
.hero-social .icon:hover {
	color: var(--text-dark-grey);
	fill: var(--text-dark-grey);
	transform: scale(1.15);
	transition: fill 0.5s, color 0.5s, transform 0.5s;
}

.copyright {
	display: block;
	text-align: center;
	margin-bottom: var(--default-margin-small);
	font-size: var(--font-size-small);
	color: var(--text-dark-grey);
}

/* page elements */
.hero-post {
	position: relative;
}
.hero-post img.post-image {
	margin-top: var(--default-margin);
	max-width: calc(100vw - 40px);
	max-height: calc(100vh - 100px);
}
.hero-hidden {
	opacity: 0.0;
	transition: opacity 0.5s;
}
.hero-post img:hover ~ .hero-hidden {
	opacity: 0.8;
	transition: opacity 0.5s;
}
.hero-enter:hover {
	opacity: 0.8;
}

.post-image-container {
  position: relative;
}

.hero-enter {
	position: absolute;
	bottom: calc(10% + 75px);
	left: calc(50% - 100px);
}
.hero-enter-button {
	text-transform: uppercase;
	color: #efefef;
	padding-top: 17px;
	padding-bottom: 15px;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid #efefef;
	background-color: rgba(0,0,0,.3);
	transition: background-color 0.25s;
	font-size: 12px;
	text-decoration: none;
}
.hero-enter-button:hover {
	background-color: rgba(0,0,0,.6);
	transition: background-color 0.25s;
	color: #fff;
}

.post-meta .tag-header {
	margin-bottom: var(--default-margin-small);
}
.tag-header {
	margin-bottom: var(--default-margin);
}
.tag-name {
	font-weight: bold;
}

.post-image-wrapper{
	text-align: center;
}
.post-title, .tag-title {
	margin-bottom: 0px;
}
.post-posted {
	font-weight: bold;
	margin-right:var(--default-margin-small);
}
.post-location {
	font-style: italic;
}
.post-subheader {
	margin-bottom: var(--default-margin);
}
.post-tags {
	text-align: right;
}

img.post-image {
	cursor: pointer;
	width: auto;
	max-width: calc(100vw - 100px);
	height: auto;
	max-height: calc(100vh - 200px);
}
img.lightbox-image {
	width: auto;
	max-width: calc(100vw - 100px);
	height: auto;
	max-height: calc(100vh - 50px);
}

.thumbnail-group {
	margin-left: auto;
	margin-right: auto;
}
.thumbnail-group a {
	text-decoration: none;
}
.thumbnail-group a:hover {
	text-decoration: underline;
}

.thumbnail {
	position: relative;
	padding: 3px;
	max-width: 100%;
	margin-bottom: -7px; /* CSS IS AWESOMEEEEEE */
}
.thumbnail img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: none;
}

.image-thumbnail-overlay {
	opacity: 0;
	transition: all 250ms ease-in-out;
	cursor: pointer;

	position: absolute;

	top: 3px;
	left: 3px;
	bottom: 3px;
	right: 3px;

	color: var(--text-white);
	background-image: linear-gradient(rgba(35, 35, 35, 0.7),rgba(35, 35, 35, 0.0));

	text-align: left;
	padding: 10px;
}
.thumbnail:hover .image-thumbnail-overlay {
	opacity: 1;
}
.image-thumbnail-overlay .sub-title {
	font-size: 10px;
}
.image-thumbnail-overlay .sub-title div {
	display: inline-block;
}
.image-thumbnail-overlay .sub-title-tags .post-tags {
	text-align: left;
	padding: 0;
	margin: 0;
}
.image-thumbnail-overlay .sub-title-tags .post-tags li.post-tag {
	line-height: 10px;
	margin-left: 0;
}
.image-thumbnail-overlay .sub-title-tags .post-tags li.post-tag a {
	font-size: 10px;
}

.text-thumbnail {
	text-align: center;
	margin: 0;
	padding: 0;
	height: 200px;
	padding-top: 60px;
	font-size: 20px;
	border: 5px solid #efefef;
	margin-bottom: 7px;
}
.text-thumbnail-posted {
	text-decoration: none;
	font-weight: bold;
}

ul.post-list {
	list-style: none;
	text-align: center;
}
ul.post-list li {
	display:block;
}

li.list-active img {
	border: 2px solid var(--thumbnail-border-color-active);
}

ul.image-exif, ul.post-tags {
	list-style: none;
	margin: 0;
}

.image-tag a {
	text-decoration: none;
}
.image-tag a:hover {
	text-decoration: underline;
}
ul.post-tags li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
	line-height: 20px;
}
ul.post-tags li:first-child{
	margin-left: 0px;
}
ul.post-tags li:last-child {
	margin-right: 0px;
}

.post-nav {
	height: 40px;
	line-height: 50px;
}

a.nav-link {
	text-decoration: none;
}
a.nav-link:hover {
	text-decoration: underline;
}

.nav-link-next {
	margin-left: 1px;
}
.nav-link-previous {
	margin-right: 1px;
}

a.nav-link-disabled {
	visibility: hidden;
}
a.nav-link-disabled:hover {
	visibility: hidden;
}

.lightbox {
	position: fixed;
	z-index: 100;
	padding: 25px;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	cursor: pointer;
}
.lightbox-close {
	position: fixed;
	top: 5px;
	right: 15px;
	font-size: 18px;
	color: #8f989d;
	cursor: pointer;
}
.lightbox-close:hover {
	color: var(--text-dark-grey);
}

.about-content {
	padding-top: 50px;
	font-size: 16px;
  margin-bottom: var(--default-margin);
}

.about-content .headshot-outer {
	margin-bottom: var(--default-margin);
}

.about-content .headshot {
	width: 250px;
	height: 250px;
}

.about-content .about-section {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: left;
}

.about-content .about-greeting {
	font-size: var(--font-size-large);
}

.about-content ul {
	margin: 0;
}

.text-post-sub-header {
	font-size: 18px;
	font-weight: 500;
	color: var(--text-dark-gray);
	text-align: center;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
}
.text-post-content .copyright {
  margin-top: 25px;
}
.text-post-subheader {
	font-weight: 500;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
}
.text-paragraph {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
}
.text-paragraph.quote {
	border-left: 5px solid #efefef;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
}

.column-group {
  display: flex;
  justify-content: space-between;
}
.column-group .post-list {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.two.column-group .post-list {
	width: 50%;
}
.three.column-group .post-list {
	width: 33%;
}
.four.column-group .post-list {
	width: 25%;
}

/*
MOBILE STUFF
*/

@media (max-width: 550px) {
	.left-content {
		overflow-y: hidden;
	}
	.left-content .post-list {
		display:none;
	}
	.left-content .hero {
		width: 100vw;
	}
	.right-content {
		position: absolute;
		left: 0;
		right: 0;
		top: 100px;
	}
	.tag-content {
		text-align: center;
	}
	.post-content .eight.columns {
		width: 50%;
	}
	.post-content .four.columns {
		width: 50%;
	}
	.post-tags {
		text-align: left;
	}
	img.post-image {
		width: auto;
		max-width: calc(100vw - 50px);
		height: auto;
		max-height: calc(100vh);
	}
	.lightbox {
		padding: 20px;
		padding-top: 35px;
	}
	img.thumbnail-large {
		max-height: none;
	}
  .hero {
    display: block;
  }
  .hero-left, .hero-right {
    display: block;
  }
}

@media(max-width: 1024px) {
  .hero-post { display: none }
}

/*
COLUMN VIEW
these enable specific numbers of columns
based on window widths
*/

.one.column-group {
  display: flex;
}
.two.column-group {
  display: none;
}
.three.column-group {
  display: none;
}
.four.column-group {
  display: none;
}

@media (min-width: 768px) {
	.one.column-group {
		display: none;
	}
	.two.column-group {
		display: flex;
	}
	.three.column-group {
		display: none;
	}
	.four.column-group {
		display: none;
	}
}

@media (min-width: 1024px) {
	.one.column-group {
		display: none;
	}
	.two.column-group {
		display: none;
	}
	.three.column-group {
		display: flex;
	}
	.four.column-group {
		display: none;
	}
}

@media (min-width: 1600px) {
	.one.column-group {
		display: none;
	}
	.two.column-group {
		display: none;
	}
	.three.column-group {
		display: none;
	}
	.four.column-group {
		display: flex;
	}
}
