:root {
	--text-hero-social: #0e1a25;
	--text-light-grey: #8f989d;
	--text-dark-grey: #3c3c3c;

	--default-margin: 25px;
	--default-margin-small: 25px;
	--default-padding: 25px;
	--default-padding-small: 25px;

	--thumbnail-size-large: 512px;
	--thumbnail-size: 192px;
	--thumbnail-border-color: #fff;
	--thumbnail-border-color-active: #000;
}


html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "Avenir Next", sans-serif;
}

a {
	color: inherit;
}
a:hover {
	color: inherit;
}

li {
	margin: 0;
	padding: 0;
}

.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}


/* end general styles */

.content {
	height: 100vh;
	display: flex;
}

.left-content {
	padding-top: 25px;
	padding-right: 10px;
	flex-grow: 0;
	min-width: 250px;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.right-content {
	flex-grow: 1;
}

.copyright {
	text-align: center;
	margin-bottom: 10px;
	font-size: 10px;
	color: var(--text-dark-grey);
}

.hero {
	text-align: center;
	display: block;
	margin-bottom: var(--default-margin);
}

.tag-content{
	text-align: center;
}

.hero a {
	color: inherit;
	text-decoration: inherit;
}
.hero a:hover {
	color: inherit;
	text-decoration: underline;
}
.hero .hero-author {
	font-weight: bold;
	font-size: 1.2em;
}
.hero-social {
	display: block;
	font-size: 0;
	list-style: none;
	margin: 0;
	text-align: center;
}

.hero-social li {
	display: inline-block;
	margin: 5px;
}
.hero-social  a, .hero-social  svg {
	display: block;
}

.hero-social a {
	position: relative;
	height: 24px;
	width: 24px;
}

.hero-social svg {
	height: 100%;
	width: 100%;
}

.hero-social .icon {
	color:  var(--text-dark-grey);
	fill:  var(--text-dark-grey);
}
.hero-social .icon:hover {
	border-radius: 100%;
	color:  var(--text-hero-social);
	fill: var(--text-hero-social);
	-webkit-transform: scale(1.25);
			transform: scale(1.25);
	transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
	transition: background-color 0.5s, transform 0.5s ease-out;
	transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.index-content {
	width: 100%;
	margin-top: var(--default-margin);
}

.post-content, .tag-posts {
	padding-top: var(--default-padding);
	padding-left:  var(--default-padding-small);
	padding-right: var(--default-padding);
}

.post-meta .tag-header {
	margin-bottom: var(--default-margin-small);
}

.tag-header {
	margin-bottom: var(--default-margin);
}

.tag-name {
	font-weight: bold;
}

.post-image-wrapper{
	text-align: center;
}

.post-title, .tag-title {
	margin-bottom: 0px;
}
.post-posted {
	font-weight: bold;
	margin-right:var(--default-margin-small);
}
.post-location {
	font-style: italic;
}
.post-subheader {
	margin-bottom: 20px;
}
.post-tags {
	text-align: right;
}

img.post-image {
	cursor: pointer;
	width: auto;
	max-width: calc(100vw - 325px);
	height: auto;
	max-height: calc(100vh - 140px);
}

img.thumbnail {
	width: auto;
	max-width: var(--thumbnail-size);
	height: auto;
	max-height: var(--thumbnail-size);
	border: 2px solid #fff;
}

img.thumbnail:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: background-color 0.15s, -webkit-transform 0.15s ease-out;
	transition: background-color 0.15s, transform 0.15s ease-out;
	transition: background-color 0.15s, transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

ul.post-list {
	list-style: none;
	text-align: center;
}
ul.post-list li {
	display:block;
}

img.thumbnail-large {
	width: auto;
	height: auto;
	max-height: 350px;
	border: 2px solid var(--thumbnail-border-color);
}

li.list-active img {
	border: 2px solid var(--thumbnail-border-color-active);
}

ul.image-exif, ul.image-tags {
	list-style: none;
	margin: 0;
}

.image-tag a {
	text-decoration: none;
}
.image-tag a:hover {
	text-decoration: underline;
}

ul.image-exif li, ul.image-tags li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
	line-height: 20px;
}

.image-exif {
	position: relative;
}

.image-exif-icon {
	position: absolute;
}

ul.image-exif li:nth-child(2){
	margin-left: 35px;
}

ul.image-tags li:first-child{
	margin-left: 0px;
}

ul.image-exif li:last-child, ul.image-tags li:last-child {
	margin-right: 0px;
}

.post-nav {
	height: 40px;
	line-height: 50px;
}

a.nav-link {
	text-decoration: none;
}
a.nav-link:hover {
	text-decoration: underline;
}

.nav-link-next {
	margin-left: 1px;
}
.nav-link-previous {
	margin-right: 1px;
}

a.nav-link-disabled {
	visibility: hidden;
}
a.nav-link-disabled:hover {
	visibility: hidden;
}

.hidden {
	display: none;
}

.lightbox {
	position: fixed;
	z-index: 100;
	padding: 25px;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	cursor: pointer;
}

.lightbox-close {
	position: fixed;
	top: 5px;
	right: 15px;
	font-size: 18px;
	color: #8f989d;
	cursor: pointer;
}

.lightbox-close:hover {
	color: var(--text-dark-grey);
}

img.lightbox-image {
	width: auto;
	max-width: calc(100vw - 50px);
	height: auto;
	max-height: calc(100vh - 50px);
}

.about-content {
	padding-top: 50px;
}

.about-content .headshot-outer {
	text-align: center;
	margin-bottom: 25px;
}

.about-content .headshot {
	/* border-radius: 250px; */
	width: 250px;
	height: 250px;
}

.about-content h1 {
	text-align: center;
}


.index-content{
	margin-left: 25px;
	margin-right: 25px;
}
.index-content .post-list {
	display: inline-block;
	vertical-align: top;
}
.index-content .column-group {
	text-align: center;
}
.index-content .column-group .post-list {
	text-align: center;
	margin: 0;
	padding: 0;
}
.index-content .two.column-group .post-list {
	width: auto;
	max-width: calc(50% - 10px);
}
.index-content .three.column-group .post-list {
	width: auto;
	max-width: calc(33% - 10px);
}
.index-content .four.column-group .post-list {
	width: auto;
	max-width: calc(25% - 10px);
}

.index-content img.thumbnail-large {
	width: auto;
	height: auto;
	max-height: none;
	max-width: 100%;
	border: 2px solid var(--thumbnail-border-color);
}

/*
MOBILE STUFF
*/

@media (max-width: 550px) {
	.left-content {
		overflow-y: hidden;
	}
	.left-content .post-list {
		display:none;
	}
	.left-content .hero {
		width: 100vw;
	}
	.right-content {
		position: absolute;
		left: 0;
		right: 0;
		top: 100px;
	}
	.tag-content {
		text-align: center;
	}
	.post-content .eight.columns {
		width: 50%;
	}
	.post-content .four.columns {
		width: 50%;
	}
	.post-tags {
		text-align: left;
	}
	img.post-image {
		width: auto;
		max-width: calc(100vw - 50px);
		height: auto;
		max-height: calc(100vh);
	}
	.lightbox {
		padding: 20px;
		padding-top: 35px;
	}
	img.thumbnail-large {
		max-height: none;
	}
}

/*
COLUMN VIEW
these enable specific numbers of columns
based on window widths
*/
@media (max-width: 550px) {
	.one.column-group {
		display: table-cell;
	}
	.two.column-group {
		display: none;
	}
	.three.column-group {
		display: none;
	}
	.four.column-group {
		display: none;
	}
}
@media (min-width: 768px) {
	.one.column-group {
		display: none;
	}
	.two.column-group {
		display: table-cell;
	}
	.three.column-group {
		display: none;
	}
	.four.column-group {
		display: none;
	}
}
@media (min-width: 1024px) {
	.one.column-group {
		display: none;
	}
	.two.column-group {
		display: none;
	}
	.three.column-group {
		display: table-cell;
	}
	.four.column-group {
		display: none;
	}
}

@media (min-width: 1600px) {
	.one.column-group {
		display: none;
	}
	.two.column-group {
		display: none;
	}
	.three.column-group {
		display: none;
	}
	.four.column-group {
		display: table-cell;
	}
}