{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .TitleOrDefault }}</title>
  <meta name="author" content="{{ .Config.Author }}">
  <meta name="description" content="{{ .Config.Description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/atom.xml" rel="alternate" title="Photos - {{ .Config.BaseURL }}" type="application/atom+xml">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <script src="/js/zepto.min.js"></script>
</head>
<body>
  <div class="content">
{{ end }}