{{ define "image-thumbnail" }}
<div class="image-thumbnail">
	<div class="image-thumbnail-overlay" href="/{{ .IndexPath }}">
		<div class="title"><a href="/{{ .IndexPath }}">{{ .TitleOrDefault }}</a></div>
		<div class="sub-title">
			<div class="sub-title-posted">{{ .Meta.Posted | time_format_date_long }}</div>
			<div class="sub-title-location">{{ .Meta.Location }}</div>
			<div class="sub-title-tags">{{ template "post-tags" . }}</div>
		</div>
	</div>
	<img src="/{{ .ImagePathMedium }}" loading="lazy" />
</div>
{{ end }}
