{{ define "post-columns" }}

<div class="one column-group">
	<ul class="post-list">
{{ range $index, $post := . }}
	{{ template "thumbnail-group" $post }}
{{ end }}
	</ul>
</div>
<div class="two column-group">
	<ul class="post-list">
{{ range $index, $post := ( . | partition 0 2 ) }}
	{{ template "thumbnail-group" $post }}
{{ end }}
	</ul>
	<ul class="post-list">
{{ range $index, $post := ( . | partition 1 2 ) }}
	{{ template "thumbnail-group" $post }}
{{ end }}
	</ul>
</div>
<div class="three column-group">
	<ul class="post-list">
{{ range $index, $post := ( . | partition 0 3 ) }}
	{{ template "thumbnail-group" $post }}
{{ end }}
	</ul>
	<ul class="post-list">
{{ range $index, $post := ( . | partition 1 3) }}
	{{ template "thumbnail-group" $post }}
{{ end }}
	</ul>
	<ul class="post-list">
{{ range $index, $post := ( . | partition 2 3 ) }}
	{{ template "thumbnail-group" $post }}
{{ end }}
	</ul>
</div>

{{ end }}