{{ define "tag-posts" }}
{{ template "left-content" . }}
<div class="right-content">
	<div class="tag-posts">
		<div class="row tag-header">
		<div class="twelve columns">
			<h4 class="tag-title">Tagged <span class="tag-name">{{ .Tag.Tag }}</span></h4>
		</div>
		</div>
		<div class="row">
			<ul class="tag-post-list">
				{{ range $index, $post := .Tag.Posts }}
				<li class="thumbnail-group">
					<a href="/{{ $post.SlugIndex }}#{{ $post.Slug }}">
						<img class="thumbnail" src="/{{ $post.ImageSourceSmall }}" />
					</a>
				</li>
				{{ else }}
				<li>No Posts</li>
				{{ end }}
			</ul>
		</div>
	</div>
</div>
{{ end }}