{{ define "text-post-header" }}
{{ template "header" . }}
{{ template "left-content" . }}
<div class="right-content">
	<div class="text-post-content post-content">
		<div class="row post-header">
			<div class="eight columns">
				<h4 class="post-title">{{ .Post.TitleOrDefault }}</h4>
			</div>
			<div class="four columns align-right post-nav">
				{{ if .Post.HasPrevious }}
				<a href="/{{ .Post.Previous.IndexPath }}#{{ .Post.Previous.Slug }}" class="nav-link nav-link-previous">&#171; Previous</a>
				{{ else }}
				<a href="#" class="nav-link nav-link-disabled">Previous</a>
				{{ end }}
				{{ if .Post.HasNext }}
				<a href="/{{ .Post.Next.IndexPath }}#{{ .Post.Next.Slug }}" class="nav-link nav-link-next">Next &#187;</a>
				{{ else }}
				<a href="#" class="nav-link nav-link-disabled">Next</a>
				{{ end }}
			</div>
		</div>
		<div class="row post-subheader">
			<div class="six columns">
				<span class="post-posted">{{ .Post.Meta.Posted | date_long }}</span><span class="post-location">{{ .Post.Meta.Location }}</span>
			</div>
			<div class="six columns post-tags">
				{{ template "post-tags" .Post }}
			</div>
		</div>
{{ end }}
