{{ define "thumbnail-medium" }}
<div class="thumbnail thumbnail-medium">
	{{- if ( .Image.IsZero | not ) -}}
	<div class="image-thumbnail">
		<div class="image-thumbnail-overlay" href="/{{ .IndexPath }}#{{ .Slug }}">
			<div class="title"><a href="/{{ .IndexPath }}#{{ .Slug }}">{{ .TitleOrDefault }}</a></div>
			<div class="sub-title">
				<div class="sub-title-posted">{{ .Meta.Posted | date_long }}</div>
				<div class="sub-title-location">{{ .Meta.Location }}</div>
				<div class="sub-title-tags">{{ template "post-tags" . }}</div>
			</div>
		</div>
		<a href="/{{ .IndexPath }}#{{ .Slug }}">
			<img src="/{{ .ImagePathMedium }}" />
		</a>
	</div>
	{{- else -}}
	{{ template "text-thumbnail" . }}
	{{- end -}}
</div>
{{- end -}}
